{{#section 'head'}}
<link rel="stylesheet" href="/assets/css/overlay.css" />
{{/section}}


<div id="scobble" data-id={{track.id}} data-poll="{{poll}}" {{#if track}}{{else}}class="hidden"{{/if}}>
	{{#if video.enabled}}
		<video src="{{video.url}}"  autoplay="autoplay" loop="loop" height="72"></video>
	{{/if}}
	<div class="lastfm-art"><img class="default-image" src="{{track.image}}" /></div>
	<div class="scobble-container">
		<div class="lastfm-title">{{track.title}}</div>
		<div class="lastfm-artist">{{track.artist}}</div>
		<div class="lastfm-album">{{track.album}}</div>
	</div>
</div>


{{#section 'head'}}
<script src="/assets/scripts/overlay.js"></script>
{{/section}}
